#aj {
    height: 150px;
    padding-top: 10px;
    vertical-align: middle;
    background-color: #e84114;
    padding-bottom: 0px;
    margin: 0px;
}

.navbar-custom {
    background-color: #eee9e9;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

html{
  min-height: 100%;
}
body {
    background-image:url('/media/back3.png');
    height:100vh;
}
.jumbotron{
  vertical-align: middle;
  padding-top: 0px;
  background-color:transparent ;
}
.texty{
  font-family: 'Work Sans', sans-serif;
}

.small{
  height: 50px;
  padding-top: 1px;
  background-color: grey;
  padding-bottom: 0px;
  margin-top: 2px;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
}
.main{
  background-color: ;
}
.header{
  color: white;
  align: center;
  font-family: 'Bitter', serif;
}
.news{
  font-family: 'Bitter', serif;
}
.navbar{
    margin:0px;
    font-family: 'Lobster', cursive;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 70%%; /* Full width */
    height: 70%%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*.slideshow { height: 232px; width: 232px; margin: auto }
.slideshow img { padding: 15px; border: 1px solid #ccc; background-color: #eee; }*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


div.gallery {
    margin: 5px;
    border: 2px ridge #ccc;
    float: left;
    width: 254px;
    height: 250px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 250px;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.newsimg{
  border : 2px ridge coral;
}

div.gallery_hof {
    margin-right: 40px;
    margin-bottom: 6px;
    margin-left: 20px;
    border-style: ridge;
    border-color: coral;
    border-width: 5px;
    float: left;
    width: 500px;
    height: 500px;
    overflow: hidden;
    align-self: flex-start;
}


div.gallery_hof img {
    width: 220px;
    height: 200px;
    margin-top: 2px;
    border: 2px solid black;
}

div.desc_hof {
    padding: 15px;
    text-align: justify;
}


div.stf {
    margin: 5px;
    border: 2px ridge #ccc;
    float: left;
    width: 222px;
    height: 270px;
}


div.stf img {
    width: 220px;
    height: 200px;
}
.info {margin: 10px 0 10px 10px; width: 465px; float: left}
